@model Subject

<div class="container mt-5">
    <div class="card shadow-sm border-0">
        <div class="card-header" style="background-color= #d4edda; color= #155724; border-color= #c3e6cb;">
            <h4 class="mb-0">Add Subject</h4>
        </div>
        <div class="card-body">
            <form asp-action="SubjectCreate">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="SubjectName" class="form-label fw-semibold"></label>
                        <input asp-for="SubjectName" class="form-control" placeholder="Enter Subject name" />
                        <span asp-validation-for="SubjectName" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="Description" class="form-label fw-semibold"></label>
                        <input asp-for="Description" class="form-control" placeholder="Enter Description" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>               
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary px-4 mt-3">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
