@model School_Management.Models.Enrollment

<h2>Edit Enrollment</h2>

<form asp-action="EnrollmentEdit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="StudentId" class="control-label">Student</label>
        <select asp-for="StudentId" asp-items="ViewBag.StudentList" class="form-control"></select>
        <span asp-validation-for="StudentId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ClassId" class="control-label">Class</label>
        <select asp-for="ClassId" asp-items="ViewBag.ClassList" class="form-control"></select>
        <span asp-validation-for="ClassId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SubjectId" class="control-label">Subject</label>
        <select asp-for="SubjectId" asp-items="ViewBag.SubjectList" class="form-control"></select>
        <span asp-validation-for="SubjectId" class="text-danger"></span>
    </div>

@*     <div class="form-group">
        <label asp-for="Grade" class="control-label">Grade</label>
        <input asp-for="Grade" class="form-control" />
        <span asp-validation-for="Grade" class="text-danger"></span>
    </div> *@

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="EnrollmentList" class="btn btn-secondary">Cancel</a>
</form>
